
.row {
  text-align: center;
}


#gooder {
  font-family: 'Cinzel', serif !important;
  font-size: 60px;
  font-weight: bold;
}

#reads {
  font-family: 'Cinzel', serif !important;
  font-size: 50px;
}

#slogan {
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px;
  font-style: italic;
}

.heading {
  display: inline-block;
}

#book {
}

/*#title {
  margin: 0 auto;
}*/


.bookinfo {
}

.bookdata {
}

.bookimg {
}

.background {
  background: rgb(249, 249, 255);
  /*color: rgb(197, 197, 197);*/
}

.profilephoto {
  border-radius: 50%;
}

.deleteaccount {
  font-style: italic;
}


a {
  background: rgb(18, 18, 18) !important;
}

input {
  background-color: blue !important;
}
